.mineral-table-container {
  overflow-x: hidden;
  max-width: 100vw;
  padding: 10px;
}

.mineral-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  table-layout: fixed;
  margin-bottom: 20px;
  font-size: 15px;
}

.mineral-table th,
.mineral-table td {
  padding: 5px 3px;
  border: 1px solid black;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.mineral-table th {
  font-weight: bold;
  background-color: #005b84;
  color: white;
}

.resize-handle {
  cursor: col-resize; /* Change cursor to col-resize */
  padding: 0 5px;
  user-select: none;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; /* Hidden by default */
  background-color: transparent;
}

.mineral-table th:hover .resize-handle {
  display: block; /* Show the resize handle when hovering over the th */
}

/* Ensure the hover state for th indicates resizability */
.mineral-table th:hover {
  background-color: #0076a8; /* Background changes on hover */
}

.mineral-table tbody tr:hover {
  background-color: #f0f0f0;
  transition: background-color 0.2s;
}

.mineral-table-container > div {
  overflow-x: auto;
  max-width: 100%;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .mineral-table {
    font-size: 10px;
  }
  .mineral-table th,
  .mineral-table td {
    padding: 3px;
  }
}
