.table {
  [class~="ant-table"] {
    margin: 0px !important;
    border: 1px solid #ccc;
  }
}

.editButton {
  cursor: "pointer";
}

.myEditedRow {
  background-color: #fff7e6 !important;
}
.myEditedRow > td {
  background-color: #fff7e6 !important;
}
