.centerNavBar {
  justify-content: "center";
  box-shadow: "0 2px 8px #f0f1f2";
}

.leftNavBar {
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: "0 2px 8px #f0f1f2";
}

.leftNavBar .logo::after {
  border-bottom: "none !important";
  transition: "none !important";
}

.leftNavBar .logo:hover::after {
  border-bottom: "none !important";
  transition: "none !important";
}

.leftNavBar .logo {
  height: 24px;
}

.leftNavBar .logo img {
  height: 24px;
  margin-right: 8px;
  margin-top: -4px;
  display: inline-block;
  vertical-align: middle;
}

.leftNavBar .logo {
  font-weight: bold;
  font-size: 18px;
  color: rgb(63, 63, 63) !important;
}
